In [53]:
#first lets look at the data and analyse the things that can be cleaned

In [54]:
from datetime import datetime

In [55]:
import pandas as pd  #This is a really popular python library used for importing and analysing the data

df = pd.read_csv("car.csv")  #reads from the file car.csv
df.head() #displays the first 5 elements from the top in a proper format

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0

In [56]:
#first lets learn a more about the dataset
print("dataset shape:" ,df.shape)
print("\n--------------------------------------------------\n")

#dataset informations
print("\ndataset informations\n: ", df.info())
print("\n--------------------------------------------------\n")

#dataset description
print("\ndataset description: \n", df.describe())
print("\n--------------------------------------------------\n")


df.head()

dataset shape: (8128, 12)

--------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8128 non-null   object
 1   year                8128 non-null   int64
 2   selling_price       8128 non-null   int64
 3   km_driven           8128 non-null   int64
 4   fuel                8128 non-null   object
 5   seller_type         8128 non-null   object
 6   transmission        8128 non-null   object
 7   owner               8128 non-null   object
 8   mileage(km/ltr/kg)  7907 non-null   float64
 9   engine              7907 non-null   float64
 10  max_power           7913 non-null   object
 11  seats               7907 non-null   float64
dtypes: float64(3), int64(3), object(6)
memory usage: 762.1+ KB

dataset informations
:  None

--------------------------------------------------


dataset description:
               year  selling_price     km_driven  mileage(km/ltr/kg)  \
count  8128.000000   8.128000e+03  8.128000e+03         7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04           19.418783
std       4.044249   8.062534e+05  5.655055e+04            4.037145
min    1983.000000   2.999900e+04  1.000000e+00            0.000000
25%    2011.000000   2.549990e+05  3.500000e+04           16.780000
50%    2015.000000   4.500000e+05  6.000000e+04           19.300000
75%    2017.000000   6.750000e+05  9.800000e+04           22.320000
max    2020.000000   1.000000e+07  2.360457e+06           42.000000

            engine        seats
count  7907.000000  7907.000000
mean   1458.625016     5.416719
std     503.916303     0.959588
min     624.000000     2.000000
25%    1197.000000     5.000000
50%    1248.000000     5.000000
75%    1582.000000     5.000000
max    3604.000000    14.000000

--------------------------------------------------

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0

In [57]:
df.rename(columns={'mileage(km/ltr/kg)': 'mileage'}, inplace=True) #renaming for better readability

In [58]:
#Since we are not able to get enough information just from these 5 datas, we will look at some more using
df.head(50)


#Just by looking at it, We can see a few information. Fuel type can be Disel, Petrol, LPG
#seller_type can be either individual or Dealer
#or to make life simpler, we can just the library functions of pandas

print("Fuel Types:", df['fuel'].unique()) 
print("Owner Types:", df['owner'].unique())
print("Transmission Types:", df['transmission'].unique()) 
print("Seller Types", df["seller_type"].unique())


#These basically scan through the entire dataset, and get all the unique values in the sepcific column that we have mentioned

Fuel Types: ['Diesel' 'Petrol' 'LPG' 'CNG']
Owner Types: ['First Owner' 'Second Owner' 'Third Owner' 'Fourth & Above Owner'
 'Test Drive Car']
Transmission Types: ['Manual' 'Automatic']
Seller Types ['Individual' 'Dealer' 'Trustmark Dealer']

In [59]:
#Before cleaning data, lets use some LLM's (Chatgpt and Claude.ai) to understand each columns better

#The first question I asked is, "which of the data columns will have a significant impact on the selling_price?" 
#year: Newer cars usually sell for more. Older ones depreciate. A derived feature like car_age = current_year - year will be even more useful.
#years_drived: More kilometers driven = more wear and tear = usually lower price.
#owner: A first-owner car is usually priced higher than a third- or fourth-owner car.

#These three are the major ones affecting the price in a significant manner

In [60]:
#now to clean the data, first we will handle the normal procedures

#Removing duplicates, removing empty values, Cinverting datatypes

In [61]:
#first we convert the year to car age for easier predictions
df['car_age'] = datetime.now().year - df['year']
df['car_age']
df['seats'] = df['seats'].fillna(df['seats'].mode()[0]).astype(int) #converting seats from float to integer

In [62]:
#removing duplicates and empty/null values


print("Duplicate rows:", df.duplicated().sum()) #checking the number of duplicate rows in the dataset (duplicate rows just add pressure while training, so we remove it)
df.drop_duplicates(inplace=True) #removing/dropping duplicate rows from the dataset

Duplicate rows: 1202

In [63]:
print(df.isnull().sum()) 
df.dropna(inplace=True)

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          208
engine           208
max_power        205
seats              0
car_age            0
dtype: int64

In [64]:
#checking the datatype of each column to see if any columns needs changes
df.dtypes

#since max_power is in object, we will convert it into float datatype
df['max_power'] = df['max_power'].astype(str).str.extract(r'(\d+\.\d+|\d+)').astype(float) #uses regex to pull out only the numeric part and converts it completely to float dtype

In [65]:
df.dtypes

name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage          float64
engine           float64
max_power        float64
seats              int64
car_age            int64
dtype: object

In [66]:
#next thing that I analysed is, we can convert "owner" to numerical format for proper predictions
#lets first check the unique values
print("Owner Types:", df['owner'].unique())

Owner Types: ['First Owner' 'Second Owner' 'Third Owner' 'Fourth & Above Owner'
 'Test Drive Car']

In [67]:
#replacing the values accordingly
owner_mapping = {
    'First Owner': 0,
    'Second Owner': 1,
    'Third Owner': 2,
    'Fourth & Above Owner': 3,
    'Test Drive Car': -1 
}

df['owner'] = df['owner'].map(owner_mapping)

In [68]:
print("Owner Types:", df['owner'].unique())

Owner Types: [ 0  1  2  3 -1]

In [69]:
#remove data which has '0' mileage cause its unrealistic
zero_mileage_count = (df['mileage'] == 0).sum()
print("Number of rows with mileage = 0:", zero_mileage_count)

#Since there are only 15 datas which have mileage = 0, we will remove the entire rows
df = df[df['mileage'] != 0]

Number of rows with mileage = 0: 15

In [70]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,car_age
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,0,23.40,1248.0,74.00,5,11
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,1,21.14,1498.0,103.52,5,11
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,2,17.70,1497.0,78.00,5,19
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,0,23.00,1396.0,90.00,5,15
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,0,16.10,1298.0,88.20,5,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8121,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000,Petrol,Individual,Manual,1,18.90,998.0,67.10,5,12
8122,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000,Diesel,Individual,Manual,1,22.54,1396.0,88.73,5,11
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,0,18.50,1197.0,82.85,5,12
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,3,16.80,1493.0,110.00,5,18
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,0,19.30,1248.0,73.90,5,16

In [71]:
#Exporting final data
df.to_csv('cleaned_car_data.csv', index=False)